body{
background-color: #000000;
}

h1{
    color: #ffffff;    
    font-family:arial; 
    font-size: 50px;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 28px;
    font-family: 'Roboto Condensed', sans-serif;
    
}
p{
    color: #ffffff;
    font-family:arial; 
    font-size: 13px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 7%;
    line-height: 1.5;
    font-family: 'Roboto Condensed', sans-serif;
}
img{
    max-height: 100%;
    max-width: 100%;
}
/*left*/
.left-container{
    background-color: yellow;
    position: relative;
}
.carousel-container{
    height: 350px;
    overflow: hidden;
    position: relative;
    width: 375px;
}

.carousel-slide{
    display: inline-block;
    
}

#prevBtn{
    border-radius: 50%;
    color: black;
    cursor: pointer;
    font-size: 10px;
    height:15%;
    margin-left: 45%;
    margin-bottom: 10px;
    opacity: 0.9;
    width: 10%;
}
button:hover{
    background-color:#fff2c5;
    
}
#nextBtn{
    z-index: 10;
    border-radius: 50%;
    color: black;
    cursor: pointer;
    font-size: 10px;
    height:10%;
    margin-left: 45%;
    margin-top: 10px;
    opacity: 0.9;
    width: 10%;
}
.middleCarousel-container{
    /* margin-left: 20%; */
    border: 0px solid black;
    height: 350px;
    overflow: hidden;
    position: middle;
    width: 375px;
    
}

.middleCarousel-slide{
    display: inline-block;
}

#middlePrevBtn{
    border-radius: 50%;
    color: black;
    cursor: pointer;
    font-size: 10px;
    height:10%;
    margin-left: 45%;
    margin-bottom: 10px;
    opacity: 0.9;
    width: 10%;
    z-index: 10;

} 
#middleNextBtn{
    border-radius: 50%;
    color: black;
    cursor: pointer;
    font-size: 10px;
    height:10%;
    margin-left: 45%;
    margin-top: 10px;
    opacity: 0.9;
    width: 10%;
    z-index: 10;
}
.rightCarousel-container{
    border: 0px solid black;
    height: 350px;
    overflow: hidden;
    position: right;
    width: 375px;
    
}

.rightCarousel-slide{
    display: inline-block;
}

#rightPrevBtn{
    border-radius: 50%;
    color: black;
    cursor: pointer;
    font-size: 10px;
    height:10%;
    margin-bottom: 10px;
    margin-left: 40%;
    opacity: 0.9;
    width: 10%;
}
#rightNextBtn{
    border-radius: 50%;
    color: black;
    cursor: pointer;
    font-size: 10px;
    height:10%;
    margin-left: 45%;
    margin-top: 10px;
    opacity: 0.9;
    width: 10%;
}
